<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cherryBlack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>cherryBlack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,0},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cherryBlack.png</string>
            <key>size</key>
            <string>{42,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e63b461a4f068ba20e6957286a7ce15c$</string>
            <key>textureFileName</key>
            <string>cherryBlack.png</string>
        </dict>
    </dict>
</plist>
